html,
body {
  margin: 0;
  padding: 0;
  font-family: Inter, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  overflow-x: hidden;
  height: 100%;
}
#__next {
  height: 100%;
}

/* Components */

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 5rem;
}
@media screen and (max-width: 768px) {
  h1 {
    font-size: 3rem;
  }
}

.error {
  width: 340px;
  max-width: 100%;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin: auto;
  padding: 1rem;
  border-radius: 1rem;
  background-color: #f00;
}

.card {
  background-color: #fff;
  padding: 1rem;
  border-radius: 1rem;
  color: #000;
  box-shadow: 3.1px 6.2px 6.2px hsl(0deg 0% 0% / 0.4);
}

button {
  cursor: pointer;
  background-color: #45c46f;
  color: #fff;
  border: none;
  font-weight: bold;
  font-family: inherit;
  padding: 16px 25px;
  text-transform: uppercase;
  border-radius: 5px;
  font-size: 1.2rem;
  max-width: 400px;
  transition: 0.3s background-color ease;

  &:hover {
    background-color: #319b54;
  }

  &:focus {
    background-color: #2c8c4c;
  }

  &:disabled {
    opacity: 0.8;
    pointer-events: none;
  }
}

/* Application wide elements */
.background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url("/images/backgrounds/recipe1.jpg");
  background-position: center;
  background-size: cover;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.15);
    pointer-events: none;
    z-index: 1;
  }
}
