.unsupported-network {
  width: 340px;
  max-width: 100%;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin: auto;
  padding: 1rem;
}

.landing {
  min-height: calc(100% - 20px);
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.landing,
.connect-wallet,
.mint-nft,
.member-page {
  flex-direction: column;
  max-width: 1024px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 10px auto;
  align-content: center;
  align-items: center;
  display: flex;
  text-align: center;
}

.member-page > div {
  display: flex;
  flex-direction: row;
  width: 100%;
  text-align: left;
  gap: 2rem;
}
.member-page > div > div {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 1rem;
}
@media screen and (max-width: 768px) {
  .member-page > div {
    flex-direction: column;
  }
  .member-page > div > div {
    width: 100%;
  }
}

.member-page form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.member-page form > div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.member-page form h5 {
  margin-top: 0;
  color: #7700ee;
}

.member-page form .card > div {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.member-page form small {
  text-align: center;
}
